@model IEnumerable<PersonelTakip.Models.Gorev>

@{
    int aktifSayfa = ViewBag.AktifSayfa ?? 1;
    int sayfaBoyutu = 5;
    int sayac = ((aktifSayfa - 1) * sayfaBoyutu) + 1;
}

@section Styles {
    <link rel="stylesheet" href="~/css/gorevpaneli.css" />
}
<table class="table table-bordered table-hover mt-3">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Görev Adı</th>
            <th>Şehir</th>
            <th>Plaka</th>
            <th>Başlangıç</th>
            <th>Bitiş</th>
            <th>İşlemler</th>
            <th>Atanan Kullanıcı</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var gorev in Model)
            {
                <tr>
                    <td>@sayac</td>
                    <td>@gorev.GorevAdi</td>
                    <td>@gorev.Sehir</td>
                    <td>@gorev.AracPlaka</td>
                    <td>
                        @gorev.BaslangicTarihi.ToString("dd.MM.yyyy")
                        @if (gorev.BaslangicSaati.HasValue)
                        {
                            <span> @gorev.BaslangicSaati.Value.ToString(@"hh\:mm")</span>
                        }
                    </td>
                    <td>
                        @gorev.BitisTarihi.ToString("dd.MM.yyyy")
                        @if (gorev.BitisSaati.HasValue)
                        {
                            <span> @gorev.BitisSaati.Value.ToString(@"hh\:mm")</span>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="Onayla" asp-route-id="@gorev.Id">
                            <button type="button" class="btn btn-success btn-sm me-2 btn-gorev-onayla">Onayla</button>

                        </form>
                        <form method="post" asp-action="Sil" asp-route-id="@gorev.Id" class="form-gorev-sil">
                            <button type="button" class="btn btn-danger btn-sm me-2 btn-gorev-sil">Sil</button>
                        </form>

                    </td>
                    <td>@gorev.Kullanici.FirstName @gorev.Kullanici.LastName</td>
                    <td>@gorev.Aciklama</td>
                </tr>
                sayac++;
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="text-center text-muted">Onay bekleyen görev bulunmamaktadır.</td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.ToplamSayfa > 1)
{
    <nav class="mt-3">
        <ul class="pagination justify-content-center custom-pagination">
            @for (int i = 1; i <= ViewBag.ToplamSayfa; i++)
            {
                <li class="page-item @(i == ViewBag.AktifSayfa ? "active" : "")">
                    <a href="#" class="page-link btn-onay-page" data-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}


